/* login sidan */
#myForm {
    margin-left: 700px;
    margin-top: 350px;
}

.passtext {
    margin-left: 114px;
}




/* hemsidan */

.titel {
    text-align: center;
    margin-top: 50px;
}

.elscooter {
    width: 500px;
    height: auto;
    margin-left: 700px;
}

.hyrknapp {
    text-align: center;
}